{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block content %}
    <main>
        <h1>Commentaires</h1>

        <ul>
            {% for id, commentaire in commentaires %}
                <li>
                    {{ commentaire.name }}
                </li>
            {% else %}
                <li>Aucune commentaire trouvé.</li>
            {% endfor %}
        </ul>
    </main>

{% endblock %}
