{% extends 'base.html.twig' %}

{% block title %}
    {% if burger %}
        Détails du {{ burger.name }}
    {% else %}
        Burger non trouvé
    {% endif %}
{% endblock %}

{% block content %}
     {% if burger %}
        <h1>Détails du Burger n°{{ id }}</h1>
        <h2>{{ burger.name }}</h2>
        <p>{{ burger.description }}</p>
    {% else %}
        <h1>Burger non trouvé</h1>
    {% endif %}
{% endblock %}
        