{% extends 'base.html.twig' %}

{% block title %}Burger les plus chers{% endblock %}

{%block content %}

    <main>
        <h2>Burgers les plus chers</h2>
        <ul>
            {% for id, burger in burgers %}
                <li>
                    {{ burger.name }} : {{ burger.price }} euros
                </li>
            {% else %}
                <li>Aucun burger trouvé.</li>
            {% endfor %}
        </ul>
    </main>

{% endblock %}