{% extends 'base.html.twig' %}
{% block title %}CRUDcroustillant{% endblock %}

{% block content %}

    <main>
        <h2>Bienvenue sur CRUDcroustillant !</h2>
        <p>Découvrez nos délicieux burgers.</p>

        <img src="{{ asset('img/img1.jpg') }}" alt="Image">
    </main>

{% endblock %}
 

 

