{% extends 'base.html.twig' %}
{% block title%}{{parent()}}Accueil - CRUDcroustillant{% endblock %}
{% block content %}
    <h1>Bienvenu sur CRUDcroustillant !</h1>
    <img src={{asset('img/img1.jpg')}} alt="Image">
{% endblock %}
        

