{% extends 'base.html.twig' %}

{% block title %}Liste des sauces{% endblock %}

{% block content %}
    <main>
        <h1>Liste des sauces disponibles</h1>

        <ul>
            {% for id, sauce in sauces %}
                <li>
                    {{ sauce.name }}
                </li>
            {% else %}
                <li>Aucune sauce trouvée.</li>
            {% endfor %}
        </ul>
    </main>

{% endblock %}
