{% extends 'base.html.twig' %}

{% block title %}Liste des pains{% endblock %}

{% block content %}
    <main>
        <h2>Liste des pains disponibles</h2>

        <ul>
            {% for id, pain in pains %}
                <li>
                    {{ pain.name }}
                </li>
            {% else %}
                <li>Aucun pain trouvé.</li>
            {% endfor %}
        </ul>
    </main>

{% endblock %}
