{% extends 'base.html.twig' %}

{% block title %}Liste des oignons{% endblock %}

{% block content %}
    <main>
        <h2>Liste des oignons disponibles</h2>

        <ul>
            {% for id, oignon in oignons %}
                <li>
                    {{ oignon.name }}
                </li>
            {% else %}
                <li>Aucun burger trouvé.</li>
            {% endfor %}
        </ul>
    </main>

{% endblock %}
